.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
logs
*.log
thumbs.db
!.gitkeep
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Editor settings
.idea
*.iws